/* mobile */
header{
  position: fixed;
  background-color: var(--background);
  align-items: end;
}
nav {
  display: flex;
  justify-content: space-between;
  color: var(--foreground);
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul {
  display: flex;
  flex-direction: column;
}

nav li{
  margin-left: 0;
}
nav a {
  margin: 0;
  vertical-align: middle;
}

#logo{
  margin-left: auto;
}
button {
  padding: var(--g2) var(--g4);
  font-size: var(--g3);
}

/* Tablet */
@media (min-width: 768px) {
  nav ul{
    flex-direction: row;
    gap: var(--g6);
  }
  button {
    padding: var(--g3) var(--g6);
    font-size: var(--g4);
  }
}
/* Desktop */
@media (min-width: 1024px) {
  nav{
    margin: var(--g2) var(--g8) !important;
  }
  nav ul{
  gap: var(--g8);
  position: relative;
  }
  nav a {
    font-size: 14px;
  }
  button {
    padding: var(--g4) var(--g8);
    font-size: var(--g6);
  }
}