section, header, footer{
  width:100%;
  display: flex;
  justify-content: center;
}
.container{
  max-width: 100%;
  padding: 0 var(--g4);

  box-sizing: border-box;
}

.content{
  padding: var(--g8) var(--g4);
}

/* Breakpoint tablette (ex: ≥ 768px) */
@media (min-width: 768px) {
  .container {
    padding: 0 var(--g6);
  }
  .content{
  padding: var(--g12) var(--g6);
  }
}

/* Breakpoint desktop (ex: ≥ 1024px) */
@media (min-width: 1024px) {
  .container {
    max-width: 1280px;
    width: 100%;
    padding: 0 var(--g8);
  }
  .content{
  padding: var(--g16) var(--g8);
}
}